@model lsbu_solutionise.Models.CustomerViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Solutionise</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- font awesome style -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/client_form.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />
    <style>
        .contact_section [type="checkbox"],[type="radio"]   {
            height:12px !important;
            width: min-content !important;
        }
    </style>

</head>


<body>
    <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
        <div class="header_bottom">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
              <span>
                Solutionise
              </span>
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                                    <ul class="navbar-nav ">
                                <li class="nav-item">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/about"> About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/contact">Contact Us</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="/home/faq">FAQ</a>
                                </li>
                            </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- end header section -->
</div>
<section class="contact_section layout_padding">
        <div class="container">
            <div class="heading_container">
               <h1>Client Registration</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form asp-action="Create">
                        <div id="step1" class="step" style="display:block;">     
                            <div>
                                <label asp-for="FirstName" class="control-label">First Name*</label>
                                <input asp-for="FirstName" style="color:black" class="form-control" placeholder="First Name" required/>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="LastName" class="control-label">Last Name*</label>
                                <input asp-for="LastName" style="color:black" class="form-control" placeholder="Last Name" required/>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="Email" class="control-label">Email*</label>
                                <input asp-for="Email" style="color:black" class="form-control" placeholder="Email" required/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="ContactNumber" class="control-label">Contact Number*</label>
                                <input asp-for="ContactNumber" style="color:black" class="form-control" placeholder="Contact Number" required/>
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>

                            <div class="d-flex">
                                <div class="btn-primary next" style="height: 50px;width: 110px;text-align: center;cursor:pointer;background-color:#584595 !important;">Continue</div>
                            </div>                                           
                        </div>
                        <div id="step2" class="step" style="display:none">
                            <div class="progress">
                              <span style="width:15%">Step 2 of 4</span>
                              <div class="progress-bar">
                                <div class="progress-bar-filled" style="width: 50%;"></div>
                              </div>
                            </div>
                            <h2>Business Information</h2>
                            <div>
                                <label asp-for="BusinessName" class="control-label">Business Name*</label>
                                <input asp-for="BusinessName" style="color:black" class="form-control" placeholder="Business Name" required/>
                                <span asp-validation-for="BusinessName" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="BookingDateTime" class="control-label">Appointment Date*</label>
                                <input asp-for="BookingDateTime"
                                       style="color:black"
                                       class="form-control"
                                       placeholder="Appointment Date"
                                       value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")"
                                       required />
                                <span asp-validation-for="BookingDateTime" class="text-danger"></span>
                            </div>

                             <div>
                                <label asp-for="BusinessDescription" class="control-label">Business Description*</label>
                                <input asp-for="BusinessDescription" style="color:black" class="form-control" placeholder="Business Description" required />
                                <span asp-validation-for="BusinessDescription" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="BusinessType" class="control-label">Business Stage</label>
                                <select asp-for="BusinessType" class="form-control">
                                    <option value="" disabled selected>Select Business Stage</option>
                                    <option value="stage1">I am currently developing a business idea and have not started trading yet</option>
                                    <option value="stage2">I have started trading but I'm still developing my business model</option>
                                    <option value="stage3">I currently have a solid business model</option>
                                </select>
                                <span asp-validation-for="BusinessType" class="text-danger"></span>
                            </div>

                            <div>
                                <label asp-for="BusinessPostcode" class="control-label">Registered Business Postcode</label>
                                    <input asp-for="BusinessPostcode" class="form-control" placeholder="Registered Business Postcode" />
                                <span asp-validation-for="BusinessPostcode" class="text-danger"></span>
                            </div>

                            <div>
                                <label asp-for="BusinessContact" class="control-label">Business Contact Number</label>
                                    <input asp-for="BusinessContact" type="tel" class="form-control" placeholder="Business Contact Number" />
                                <span asp-validation-for="BusinessContact" class="text-danger"></span>
                            </div>
                            <div>
                                <label asp-for="BusinessWebsite" class="control-label">Business Website</label>
                                    <input asp-for="BusinessWebsite" type="url" class="form-control" placeholder="Business Website" />
                                <span asp-validation-for="BusinessWebsite" class="text-danger"></span>
                            </div>

                            <div>
                                <label asp-for="SocialMediaLink" class="control-label">Social Media Channels</label>
                                <div>
                                    <label>
                                        <input asp-for="SocialMediaLink" type="radio" value="facebook"/>
                                        Facebook
                                    </label>
                                    <label>
                                        <input asp-for="SocialMediaLink" type="radio" value="instagram"/>
                                        Instagram
                                    </label>
                                    <label>
                                        <input asp-for="SocialMediaLink" type="radio" value="linkedin"/>
                                        LinkedIn
                                    </label>
                                    <label>
                                        <input asp-for="SocialMediaLink" type="radio" value="youtube" />
                                        Youtube
                                    </label>
                                  
                                </div>
                                <span asp-validation-for="SocialMediaLink" class="text-danger"></span>
                            </div>
                             <div class="d-flex">
                                <div class="btn-secondary back" style="height: 50px;width: 110px;text-align: center;cursor:pointer;">Back
                                </div>
                               <div class="btn-primary next" style="height: 50px;width: 475px;text-align: center;cursor:pointer;background-color:#584595 !important;">Next
                                </div>
                            </div>                            
                        </div>

                        <div id="step3" class="step" style="display:none;">
                               <div class="progress">
                                    <span style="width:15%">Step 3 of 4</span>
                                    <div class="progress-bar">
                                        <div class="progress-bar-filled" style="width: 75%;"></div>
                                    </div>
                                </div>
                                 <!-- Topics/Areas for Support -->
                                    <div>
                                        <label asp-for="SupportNeed" class="control-label">Type of Help</label>
                                        <div style="display:flex">
                                            <div>
                                            <label>
                                                <input asp-for="SupportNeed" type="radio" value="business"/>
                                                Business
                                            </label>
                                            <label>
                                                <input asp-for="SupportNeed" type="radio" value="engineering" />
                                                Engineering
                                            </label>
                                            <label>
                                                <input asp-for="SupportNeed" type="radio" value="it"/>
                                                IT
                                            </label>
                                            <label>
                                                <input asp-for="SupportNeed" type="radio" value="legal"/>
                                                Legal
                                            </label>
 
                                  
                                             </div>
                                        </div>
                                        <span asp-validation-for="SupportNeed" class="text-danger"></span>
                                   </div>
                                <div>

                                <label asp-for="HelpTypes" class="control-label">Topics/Areas for Support</label>
                                <div style="display:flex">
                                    <div>
                                    <label>
                                        <input asp-for="HelpTypes" type="radio" value="hire"/>
                                        I want to hire a student or graduate (only paid opportunities)
                                    </label>
                                    <label>
                                        <input asp-for="HelpTypes" type="radio" value="advice"/>
                                        I need a business advice
                                    </label>
                                                                      
                                     </div>
                                </div>
                                 <span asp-validation-for="HelpTypes" class="text-danger"></span>
                                </div>
                                <!-- Additional Details -->
                            <div>
                                <label asp-for="AdditionalDetail" class="control-label">Additional Details</label>
                                <textarea asp-for="AdditionalDetail" rows="3" class="form-control" placeholder="Please specify in 1-2 sentences what you hope to achieve from Solutionise"></textarea>
                                <span asp-validation-for="AdditionalDetail" class="text-danger"></span>
                            </div>
                            <div class="d-flex">
                                <div class="btn-secondary back" style="height: 50px;width: 110px;text-align: center;cursor:pointer;">Back
                                </div>
                               <div class="btn-primary next" style="height: 50px;width: 475px;text-align: center;cursor:pointer;background-color:#584595 !important;">Next
                                </div>
                            </div>  
                        </div>

                        <div id="step4" class="step" style="display:none;">
                                    <!-- Progress Bar -->
                            <div class="progress">
                                <span style="width:15%">Step 4 of 4</span>
                                <div class="progress-bar">
                                    <div class="progress-bar-filled" style="width: 100%;"></div>
                                </div>
                            </div>
                            <div>
                            <h2>We Value Your Feedback</h2>
                            <p>At Solutionise, we’re always working to improve our services. Your feedback helps us serve our community better.</p>

                            <!-- Where did you hear about Solutionise? -->
                            <label asp-for="HearUs" class="control-label">Where did you hear about Solutionise?</label>
                                    <div style="display:flex">
                                        <div>
                                        <label>
                                            <input asp-for="HearUs" type="radio" value="LSBUwebsite" />
                                            LSBU Website
                                        </label>
                                        <label>
                                            <input asp-for="HearUs" type="radio" value="socialmedia"/>
                                            Social Media
                                        </label>
                                        <label>
                                            <input asp-for="HearUs" type="radio" value="referral" />
                                            Referral
                                        </label>
                                        <label>
                                            <input asp-for="HearUs" type="radio" value="oncampusevent" />
                                            On campus event
                                        </label>
                                        <label>
                                            <input asp-for="HearUs" type="radio" value="externalevent" />
                                            External Event
                                        </label>
                                        <label>
                                            <input asp-for="HearUs" type="radio" value="publication" />
                                            On a publication (online or physical)
                                        </label>
                                        <label>
                                            <input asp-for="HearUs" type="radio" value="passingby" />
                                            I was passing by
                                        </label>
                                        <label>
                                        <input asp-for="HearUs" type="radio" value="other" />
                                            Other
                                        </label>
                                         </div>
                                    </div>
                                     <span asp-validation-for="HearUs" class="text-danger"></span>
                              </div>

                            <!-- Feedback Comments -->
                            <div class="input-group">
                                <label asp-for="Feedback" class="control-label">Please tell us how we can improve</label>
                                <textarea asp-for="Feedback" rows="3" class="form-control" placeholder="Enter your feedback comments in this box below"></textarea>
                                <span asp-validation-for="Feedback" class="text-danger"></span>
                            </div>

                            <!-- LSBU Alumni Question -->
                            <div>
                                <label asp-for="HelpTypes" class="control-label">Are you a student or alumni of LSBU?
                                    <p>(If you are an LSBU alumni who graduated more than 5 years ago, please select No)</p>
                                </label>
                                        <div style="display:flex">
                                            <div>
                                                <label>
                                                    <input asp-for="HelpTypes" type="radio" value="facebook"/>
                                                    Yes
                                                </label>
                                                <label>
                                                    <input asp-for="HelpTypes" type="radio" value="instagram"/>
                                                    NO
                                                </label>
                                                                
                                             </div>
                                        </div>
                                         <span asp-validation-for="HelpTypes" class="text-danger"></span>
                            </div>

                            <!-- Terms and Conditions -->
                            <div class="input-group">
                                <label asp-for="AgreeTerms" class="control-label">Terms and Conditions</label>
                                <p>Please review the brief summary of our terms and conditions. Click the link below to view the full document.</p>
    
                                <a style="margin:0px 0px 0px 0px !important" href="/home/policies" target="_blank" class="document-link">View Full Document</a>

                                <label>
                                    <input style="margin-left:10px;"asp-for="AgreeTerms" type="checkbox" /> I agree to the terms and conditions
                                </label>
                                <span asp-validation-for="AgreeTerms" class="text-danger"></span>
                            </div>
                                                    
                        <div class="d-flex">
                              <div class="btn-secondary back" style="height: 50px;width: 110px;text-align: center;cursor:pointer;">Back
                              </div>
                            <input type="submit" value="Submit" style="background-color: #584595;" />                       
                        </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>  


@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@
    <section class="info_section">


        <!-- Useful Information Section -->
        <div class="useful_info">
            <h4>Useful Information</h4>
            <div class="info_links">
                <a href="/home/policies" class="footer_button">Terms & Conditions</a>
                <a href="https://www.lsbu.ac.uk/footer/data-protection/cookie-policy" class="footer_button">Cookie Policy</a>
                <a href="/home/privacy" class="footer_button">Privacy Policy</a>
            </div>
        </div>

        <!-- Connect with Us Section -->
        <div class="social-box">
            <h4>Connect with Us</h4>

            <div class="box">
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </div>
            <div class="contact_nav">
                <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        Call : +44 07341 512651
                    </span>
                </a>
                <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        Email : solutionise@lsbu.ac.uk
                    </span>
                </a>
            </div>
        </div>
        </div>
    </section>



    <!-- end info_section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayDateYear"></span> All Rights Reserved By
                <a href="https://html.design/">London South Bank University</a>
            </p>
        </div>
    </footer>

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <script src="~/js/client_registeration.js"></script>
    <!-- End Google Map -->
</body>
</html>
