@page
@model LoginModel
@using Microsoft.AspNetCore.Identity
@using lsbu_solutionise.Areas.Identity.Pages.Account
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Solutionise</title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <!-- font awesome style -->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

</head>

<body>
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="/">
                            <span>
                                Solutionise
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/about"> About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/contact">Contact Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/home/faq">FAQ</a>
                                </li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-controller="Admin" asp-action="Index">Customers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                                    </li>
                                    <li class="nav-item">
                                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                        </form>
                                    </li>
                                }
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
    </div>

    <!-- FAQ Section -->
    <section class="policies_section">
        <div class="container policies">
            <h1>Terms and Conditions of Use</h1>
            <p>The terms of use outlined here relate to any&nbsp;<a href="https://www.lsbu.ac.uk" title="lsbu.ac.uk">www.lsbu.ac.uk</a> website and any sub-site contained within the lsbu.ac.uk domain.</p><p>By using this website or by downloading any material from it you are agreeing to the Terms and Conditions detailed below.</p><h2>Copyright</h2><p>Unless otherwise stated, all content contained within this website is copyright to London South Bank University or has been licensed to London South Bank University by the right owners. No part of the website may be reprinted or used elsewhere in any form without prior permission from the University.</p><p>London South Bank University ensures that we comply with copyright law. If you believe that materials contained on the website may infringe this, please contact our Copyright Advisor, by emailing&nbsp;<a href="mailto:copyright@lsbu.ac.uk">copyright@lsbu.ac.uk</a>.</p><h2>Disclaimer</h2><p>London South Bank University reserves the right to change the content of the website at any time.</p><p>The content is the responsibility of individuals/departments across the University so that although every attempt will be made to keep it up to date, the University cannot be held liable for it.</p><p>The purpose of the London South Bank University website is to provide general information to those wishing to find out about the University, departments or events, and should not be used exclusively in any personal decisions such as choosing to study our courses or not; to verify information before acting on it, please use our <a href="https://www.lsbu.ac.uk/contact-us" title="Contact Us">contact us</a> page or any contact details available on our specific web pages.</p><p>London South Bank University ensures that all information included on our web pages is up to date and accurate. However cases may arise where we are unable to update content as quickly as we may need. When this does occur we will take every reasonable step to deliver accurate information as quickly as possible.</p><p>London South Bank University accepts no responsibility for any loss or damage that may arise from reliance on information or advice contained on this website.</p><h2>External Websites</h2><p>To help provide users with information that will be relevant to them, we occasionally link to external websites. We accept no liability on the content and information included on these sites as we have no control over how they may change this information. We also do not accept liability from any sites which may link to us as again this is beyond our control.</p><h2>Company information</h2><p>London South Bank University is a company limited by guarantee registered in England and Wales. The following details apply to London South Bank University: Company number 00986761; Registered office and trading address - 103 Borough Road London SE1 0AA; VAT number - 778 1116 17.</p>

        </div>
    </section>

    <!-- end about section -->
    <!-- info section -->
    <section class="info_section">


        <!-- Useful Information Section -->
        <div class="useful_info">
            <h4>Useful Information</h4>
            <div class="info_links">
                <a href="/home/policies" class="footer_button">Terms & Conditions</a>
                <a href="https://www.lsbu.ac.uk/footer/data-protection/cookie-policy" class="footer_button">Cookie Policy</a>
                <a href="/home/privacy" class="footer_button">Privacy Policy</a>
            </div>
        </div>

        <!-- Connect with Us Section -->
        <div class="social-box">
            <h4>Connect with Us</h4>

            <div class="box">
                <a href="https://www.instagram.com" target="_blank">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://www.linkedin.com" target="_blank">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="https://www.twitter.com" target="_blank">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.youtube.com" target="_blank">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
            </div>
            <div class="contact_nav">
                <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        Call : +44 07341 512651
                    </span>
                </a>
                <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        Email : solutionise@lsbu.ac.uk
                    </span>
                </a>
            </div>
        </div>
        </div>
    </section>



    <!-- end info_section -->
    <!-- footer section -->
    <footer class="footer_section">
        <div class="container">
            <p>
                &copy; <span id="displayDateYear"></span> All Rights Reserved By
                <a href="https://html.design/">London South Bank University</a>
            </p>
        </div>
    </footer>
    <!-- footer section -->

    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <script src="~/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>
    <!-- End Google Map -->


</body>

</html>